{% extends "master.html.twig" %}

{% block title %}Product add{% endblock %}

{% block content %}
    
    <form method="post" enctype="multipart/form-data">
        Product name: <input type="text" name="name"><br>
        Description: <textarea name="description"></textarea><br>
        Image: <input type="file" name="image"><br>
        <input type="submit" value="Add product"><br>
    </form>  
  
{% endblock content %}
