{% extends "master.html.twig" %}

{% block title %}Product List{% endblock %}

{% block content %}

<a href="/admin/product/add">Add Product</a><br><br>
      <table border="1">
          <tr><th>ID</th><th>Description</th><th>Image</th><th>Operation</th></tr>
          {% for p in productList %}
              <tr><td>{{p.id}}</td>
                  <td>{{p.name}}</td>
                  <td>{{p.description}}</td>
                  <td><img src="/{{p.imagePath}}" width="40"></td>
                  <td><a href="/>admin/product/edit/{{p.id}}">Edit<a/>
                      <a href="/>admin/product/delete/{{p.id}}">Delete<a/>
             </td></tr>
          {% endfor %}
      </table>

{% endblock content %}