<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css"/>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    {% block headExtra %}{% endblock %}
</head>
<body>
    <div id="centerContent">
         <div id="header">
            {% if user %}
                Welcome {{ user.email }}, you may <a href="/logout">Log out</a>
            {% else %}   
                You may <a href="/login">Login</a> or <a href="/register">Register</a>
            {% endif %} 
         </div>
         <div id="content">
            {% block content %}{% endblock content %}
         </div>
         <div id="footer">
           &copy; Copyright 2011 by <a href="http://domain.invalid/">Gregory Torakis</a>.
         </div>
      </div>
   </body>
</html>