{% extends "master.html.twig" %}

{% block title %}Registration Successful{% endblock %}

{% block content %}

<p>Registration successful. You may now <a href="/login">login</a>.</p>

{% endblock content %}