{% extends "master.html.twig" %}

{% block title %}Add todo item{% endblock %}

{% block content %}
    
{% if errorList %}
    <ul class="errorList">
        {% for error in errorList %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post">
    Task: <input type="text" name="task" value="{{v.task}}"><br>
    Due date <input type="date" name="dueDate"><br>
    Is done? <input type="checkbox" name="isDone" value="checked"
                    {% if v.isDone = 'done' %}checked{% endif %}
                    ><br>
    <input type="submit" value="Add task">
</form>

{% endblock content %}
