{% extends "master.html.twig" %}

{% block title %}Login Successful{% endblock %}

{% block content %}

  <p>You've logged in successfully. <a href="/">Click to continue to the website</a></p>
  
{% endblock content %}