{% extends "master.html.twig" %}

{% block title %}Log out Successful{% endblock %}

{% block content %}

  <p>You've logged out successfully. <a href="/">Click to continue to the website</a></p>
  
{% endblock content %}
